body {
    display:flex;
    flex-direction:column;
}
.header {
background-color:#1F2937;
width:1200px
} 

.header_top {display:flex;
justify-content:space-around;
padding-top:10px;
}

.header_logo {font-size:24px;
    color:#F9FAF8;
margin-left:15px;}

.header-links {font-size:18px;
color:#E5E7EB;
text-decoration:none;
padding:20px;
}

.right_links {display:flex; 
list-style:none;}

.header_primary_text {font-size:48px;
color:#F9FAF8;
font-weight: bold;
}

.header_content { display:flex;
    margin-top:60px;
   justify-items:center;
    flex:1;
    width:800px;
    margin-left:200px;
    gap:15px;
    margin-bottom:100px;
}

.header_text {
    margin-top:50px;
    width:400px;}

.header_secondary_text {font-size:18px;
color:#E5E7EB;
}

.image {
    width:400px;
}
.header_button {background-color:#3882F6;
color:white;
border-radius:8px;
padding:5px 15px;}

/*  Now the second section */

.second_element {color:#1F2937;
margin-top:50px;}

.info {
    display:flex;
    justify-content:center ;
    margin-bottom:50px;}

.subtext {display:flex;
gap:60px;
justify-content:space-around;}
.subsubtext {width:100px;
}