body {
    display:flex;
    flex-direction:column;
    width:1200px
}
.header {
background-color:#1F2937;

} 

.header_top {display:flex;
justify-content:space-around;
padding-top:10px;
}

.header_logo {font-size:24px;
    color:#F9FAF8;
margin-left:15px;}

.header-links {font-size:18px;
color:#E5E7EB;
text-decoration:none;
padding:20px;
}

.right_links {display:flex; 
list-style:none;}

.header_primary_text {font-size:48px;
color:#F9FAF8;
font-weight: bold;
}

.header_content { display:flex;
    margin-top:60px;
   justify-items:center;
    flex:1;
    width:800px;
    margin-left:200px;
    gap:15px;
    margin-bottom:100px;
}

.header_text {
    margin-top:50px;
    width:400px;}

.header_secondary_text {font-size:18px;
color:#E5E7EB;
}

.image {
    width:400px;
}
.header_button {background-color:#3882F6;
color:white;
border-radius:8px;
padding:5px 15px;}

/*  Now the second section */

.second_element {color:#38485f;
margin-top:50px;
display:flex;
flex-direction:column;
justify-content:center;
align-items: center;
margin-bottom:65px;}

.info {
    display:flex;
    margin-bottom:50px;
    font-size:36px;
    font-weight:bold;}

.subtext {display:flex;
gap:30px;
}
.subsubtext {width:150px;
}

.threeghosts {width:150px;
    display:inline;
    justify-content:center;
    border:5px solid #3882F6;
    border-radius:8px;
}

/* third section */
.thirdsection { background-color:#E5E7EB;
padding:100px;
}
.first {width:800px;
font-size:36px;
font-style:italic;
font-color: #1F2937;
margin-left:100px;
}
.second {margin-left:500px;
font-weight:bold;
font-size:22px;
margin-top:5px;}

    /* fourth section */
.fourthsection {padding:60px;}

.fourthcontent {background-color:#3882F6;
display:flex;
justify-content:center;
padding:40px;}

.leftcontent {width:550px;}

    .call {font-size:24px;
    font-weight:bold;}
    .signup {font-size:20px;}
.rightcontent {display:flex;
    align-items:center;}

/* fifth secion */

.fifthsection {background-color:#1F2937;
color:#E5E7EB;}
