body {
    display:flex;
}
.header {
background-color:#1F2937;
width:1200px} 

.header_top {display:flex;
justify-content:space-between;
padding-top:10px;
}

.header_logo {font-size:24px;
    color:#F9FAF8;
margin-left:15px;}

.header-links {font-size:18px;
color:#E5E7EB;
text-decoration:none;
padding:20px;
}

.right_links {display:flex; 
list-style:none;}

.header_primary_text {font-size:48px;
color:#F9FAF8;
font-weight: bold;
}

.header_content { display:flex;
    margin-top:60px;
   justify-items:center;
    flex:1;
    width:800px;
    margin-left:200px;
    gap:15px;
}

.header_text {
    margin-top:50px;
    width:400px;}

.header_secondary_text {font-size:18px;
color:#E5E7EB;
}

.image {
    width:400px;
}